#root {
  font-family: 'Nunito Sans', sans-serif;
}

/* body {
  background-color: hsl(0, 0%, 98%);
  color: hsl(200, 15%, 8%);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: hsl(207, 26%, 17%);
    color: hsl(0, 0%, 100%);
  }
} */


